
.wrapper {
  position: relative;
  
  min-height: 100vh;
}

.video {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: block;
  vertical-align: top;
  box-sizing: border-box;
  color: #fff;
  background-color: #000;
  position: relative;
  padding: 0;
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  font-family: Arial,Helvetica,sans-serif;
  word-break: initial;
}

.player {
  background-color: transparent;
  background-image: url("../../assets/player.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  height: 62px;
  inset: 0;
  margin: auto;
  position: absolute;
  width: 62px;
}

.hidden {
  opacity: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  height: 100vh;
  inset: 0;
  margin: auto;
  position: absolute;
  width: 100%;
}

.actions {
  position: absolute;
  bottom: 120px;
  right: 8px;
  z-index: 1;
}

.action {
  color: #fff;
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
}

.audio {
  background-color: transparent;
  background-image: url("../../assets/audio.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  height: 25px;
  inset: 0;
  margin: 20px;
  position: absolute;
  width: 25px;
  z-index: 999;
}
.audioMuted{  
  background-color: transparent;
  background-image: url("../../assets/muted.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  height: 25px;
  inset: 0;
  margin: 20px;
  position: absolute;
  width: 25px;
  z-index: 999;
}


.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
}

.user img:first-child {
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

.user img:last-child {
  margin-top: -8px;
}

